@import "@fontsource/inter/700.css";

.navbar--wrapper {
  background-color: #e71e4a !important;
}
.user-details--wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-content: center;
}
.exams-category--header {
  background-color: #ffffff;
  min-width: 900px;
  min-height: 800px;
  margin-bottom: 20px;
  border-style: none none solid;
  border-color: #8888886c;
}
.exams-category--header--text {
  font-weight: 600 !important;
  font-family: "Inter" !important;
  color: #181818 !important;
  font-size: 3rem !important;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full viewport height */
}

/* Admin layout with sidebar */
.dashboard__admin {
  display: grid;
  grid-template-columns: 1fr 6fr;
  margin-top: 2rem;
}
.dashboard__user {
  display: flex;
  margin-top: 2rem;
}

.dashboard__admin .Sidebar {
  width: 100%;
}
.dashboard__user .outlet--full-width {
  width: 100%;
}
@media only screen and (max-width: 1050px) {
  .exams-category--header {
    min-width: 800px;
  }
}
@media only screen and (max-width: 950px) {
  .exams-category--header {
    min-width: 700px;
  }
}

@media only screen and (max-width: 850px) {
  .exams-category--header {
    min-width: 600px;
  }
}

@media only screen and (max-width: 750px) {
  .exams-category--header {
    min-width: 500px;
  }
}
