.exam-details--wrapper{
    height: 100vh;
    margin-top: -5rem;
    padding-top: 5rem;
    min-width: 950px;
}
.exam-details--button{
    background-color: aliceblue !important;
    color:#0f398e !important;
}