@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  font-family: "Roboto";
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carousel-item {
  /* position: relative; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 490px;
  min-width: 900px;
  background-color: #fff;
}

.carousel-item-head {
  position: absolute;
  top: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
}
.carousel-item-body {
  font-size: 1.5rem;
  margin: 30px 0 30px 0;
  padding: 0 20px 0 20px;
  white-space: normal;
  color: #17181a;
}
.carousel-visual {
  width: 500px;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
}

/* final stage */

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  color: #26343f;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  outline: none;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #7c7c7c;
}

.indicator-symbol-active {
  color: #e03e3e;
}
/* Ram */
.review-page--wrapper {
  display: grid;
}
