.sidebar-box-wrapper {
  margin-top: 100px;
  overflow: hidden;
  outline: none;
}

.sidebar-text .MuiListItemText-primary {
  color: rgb(0, 0, 0);
  font-size: 1.5rem !important;
}

.sidebar-icons {
  font-size: 2rem;
  padding: 5px;
}
.sidebar-list-items {
  padding: 0 !important;
}

@media only screen and (min-width: 1280px) and (max-width: 1500px) {
  .test .MuiBox-root {
    width: 150px;
  }
  .draw {
    width: 150px;
  }
  .sidebar-text .MuiListItemText-primary {
    font-size: 12px !important;
  }
  .sidebar-icons {
    font-size: 1.5rem;
    padding: 0px;
    margin-right: -20px;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1280px) {
  .test .MuiBox-root {
    width: 170px;
  }
  .draw {
    width: 170px;
  }
  .sidebar-text .MuiListItemText-primary {
    font-size: 12px !important;
  }
  .sidebar-icons {
    font-size: 1.5rem;
    padding: 0px;
    margin-right: -20px;
  }
}

@media only screen and (max-width: 1000px) {
  .test .MuiBox-root {
    width: 125px;
  }
  .draw {
    width: 125px;
  }
  .sidebar-text .MuiListItemText-primary {
    font-size: 10px !important;
  }
  .sidebar-icons {
    font-size: 1rem;
    padding: 0px;
    margin-right: -30px;
    margin-left: -10px;
  }
}
