.take-exam-content--wrapper{
    /* padding: 0.5rem ; */
    margin-top: 2rem;
    background-color: #fff;
    width: 100%; 
    /* display: flex; */
    /* flex-direction: column;
    min-height: 100vh; */
}
.question--header{
    font-family: 'Inter';
    font-weight: 700;
    margin-bottom: 0.3rem;
}
.question--footnote{
    display: flex ;
    justify-content: flex-end ;
    margin-top: 1rem;
    gap: 1rem;
}
.letter-choice{
    font-family: 'Inter' !important;
    font-weight: 700 !important;
    display: inline-flex !important;
    margin-right: 0.3rem !important;
    margin-left: 1rem !important;
}
.question--score{
    display: inline-flexbox;
    justify-content: flex-end;
    font-weight: 700;
    color: #454545;
}
.exam-question--header{
    background-color: #F1F1F1;
    padding: 1rem;
}
.exam-question--choice{
    margin-bottom: 0.5rem;
}
.exam-card{
    width: 100%;
    height: 100vh;
   
}